<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
</head>

<body>
  <div id="app">
    <div v-if="isShow">
      <p>昵称:<input type="text" v-model="name"></p>
      <p>房间号:<input type="text" v-model="roomId"></p>

      <button id="enter" @click="enter()">进入聊天室</button>
    </div>
    <div v-else>
      <p>当前在线人数{{num}}</p>
      <ul>
        <li v-for="(item,index) in lists" :key="index">{{item}}</li>
      </ul>
      <input type="text" id="msg" v-model="message">
      <button id="sendmsg" @click="send">发送</button>
      <button id="close">关闭连接</button>
    </div>
  </div>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        message: '',
        lists: [],
        ws: {},
        isShow: true,
        name: '',
        num: 0,
        roomId: 0, // 房间号
        handleTime: null
      },
      mounted() {

      },
      methods: {
        init() {
          this.ws = new WebSocket('ws://127.0.0.1:3000')
          this.ws.onopen = this.onOpen
          this.ws.onmessage = this.onMessage
          this.ws.onclose = this.onClose
          this.ws.onerror = this.onError
        },
        enter() {
          if (this.name.trim() === '') {
            alert('用户名不得为空')
            return
          }
          this.init()
          this.isShow = false
        },
        onOpen() {
          // 发起鉴权请求
          this.ws.send(JSON.stringify({
            event: 'auth',
            message: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6ImFpbWVlIiwiaWF0IjoxNTE2MjM5MDIyfQ.L3Ut0odu60E8rvfqZ6bxhpKY16x7W-aGMtkxaZbxED8'
          }))
          this.ws.send(JSON.stringify({
            "event": "enter",
            "message": this.name,
            "roomId": this.roomId
          }))
          console.log('open:' + this.ws.readyState)
          
        },
        onMessage(event) {
          // 当用户未进入聊天室则不接收消息
          if (this.isShow) {
            return
          }
          console.log(event)
          let obj = JSON.parse(event.data)
          // 如果鉴权失败.路由跳转到进入页面
          if (obj.event === 'noauth') {
            // 跳转到登陆页,从新获取token
          }else
          if (obj.event === "enter") {
          this.num = obj.num
            console.log(111)
            this.lists.push(`'欢迎' + ${obj.message} + '加入聊天室'`)
          }else
          if (obj.event === "heartbeat") {
            this.checkServer()
            this.ws.send(JSON.stringify({
              event: 'heartbeat',
              message: 'pong'
            }))
          }else
          if (obj.event === 'out') {
            console.log(999)
            this.lists.push(obj.userName + ':' + '已经退出了聊天室')
          } else {
            console.log(333)
            this.lists.push(obj.name + ':' + obj.message)
          }
        },
        onClose() {
          console.log('连接关闭')
          this.ws.close()
        },
        onerror() {
          console.log('连接出错')
          // 连接失败之后,1秒进行短线重连
          setTimeout(() => {
            this.init()
          },1000)
        },
        send() {
          console.log(444)
          this.ws.send(JSON.stringify({
            "event": "message",
            "message": this.message,
            "name": this.name
          }))
          // this.lists.push(this.name + ':' + this.message)
          console.log(this.lists)
          this.message = ''
        },
        checkServer() {
          clearTimeout(this.handleTime)
          this.handleTime = setTimeout(()=> {
            this.onClose()
            this.init()
          }, 1000 + 500)
        }
      }
    })
    // let ws = new WebSocket('ws://127.0.0.1:3000')
    // ws.onopen = function() {
    //   console.log('open:' + ws.readyState)
    //   // ws.send('hello from client')

    // }
    // ws.onmessage = function(event) {
    //   console.log('message:' + ws.readyState)
    //   console.log(event.data)
    // }
    // // 当连接主动断开的时候触发close事件
    // ws.onclose = function() {
    //   console.log('close:' + ws.readyState)
    // }
    // ws.onerror = function() {
    //   console.log('error', ws.readyState)
    //   console.log('连接失败')
    // },
    // // 发送消息
    // document.getElementById('sendmsg').addEventListener('click', function() {
    //   let inputVal = document.getElementById('msg').value
    //   ws.send(inputVal)
    //   inputVal = ''
    // })
    // // 关闭连接
    // document.getElementById('close').addEventListener('click', function() {
    //   ws.close()
    // })
    /*
    ws有些api在服务端和客户端的写法有些区别:
    ws.onerror  在服务端要写成  ws.on('error', function() {})
    ws.onmessage  在服务端要写成  ws.on('message', function() {})
    */
  </script>
</body>

</html>