$body-bg: #ccc;
$body-color: #333;
body {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    background-color: $body-bg;
    color: $body-color;
    div {
        background: #fff;
        color: $body-color;
    }
    h3 {
        color: yellow;
    }
}